@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

html{
    font-family: 'Sarabun', sans-serif;
    background-color: #CC9544;
}

/*Header section*/
#header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    height: auto;
    width: 100vw;
    
}
#header .header{
    max-height: 12vh;
    background: #61481C;
    background: ;
    border-radius: ;
}
#header .brand{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}
#header img{
    margin-top: 5px;
    margin-left: 5px;
}
#header ul li .img2{
    align-items: ;
    margin-top: 50px;
    display: flex;
}
#header ul li .img3{
    margin-right: 20px;
    margin-left: 50px;
}
#header ul li .img4{
    margin-right: 20px;
}
#header .brand h1{
    margin-left: 38px;
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    font-size: ;
    color: antiquewhite;
    letter-spacing: .1rem;
}
#header h2{
    font-size: 1.5rem;
    margin-bottom: px;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-left: 30px;
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    letter-spacing: 0.2rem;
    color: white;
}
#header h3{
    margin-top: 10px;
    padding-top: 30px;
    font-size: 12px;
    color: antiquewhite;
    font-weight: 500;
}
#header h4{
    padding-bottom: 10px;
    margin-left: 10px;
    color: antiquewhite;
    font-weight: 500;
}
#header .nav-bar{
    align-items: center;
    justify-content: space-between;
    display: flex;    
}
#header .nav-list ul{
    list-style: none;
    position: absolute;
    height: 70vh;
    width: 80vw;
    right: 100%;
    top: 0;
    align-items: center;
    background-color: #61481C;
    justify-content: center;
    display: flex;
    flex-direction: column;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease;
}
#header .nav-list ul.open{
    right: 20%;
}
#header .menu{
    position: absolute;
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    left: 0;
    top: 0;
    z-index: 100;
}
#header .name{
    background-color: ;
    position: relative;
}
#header .menu-btn{
    height: 60px;
    width: 60px;
    display: inline-block;
    background: ;
    color: ;
    /*border: 3px solid pink ;*/
    border-radius: 30%;
    position: relative;
    transition: all .5s ease-in-out;
    display: flex;
    margin-right: 300px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transform: scale(.6);
}
#header .menu-btn_burger{
    height: 5px;
    width: 50px;
    background: antiquewhite;
    position: relative;
    transition: all .5s ease-in-out;
    z-index: -1;
    
    
}
#header .menu-btn_burger::before,
#header .menu-btn_burger::after{
    content: '';
    position: absolute;
    height: 5px;
    width: 50px;
    background: antiquewhite;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
/*header
#header .burger {  
    left: 0;
    top: 0;
    weight: 100vw;
    height: 100vh;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    z-index: -1;
    overflow-x: hidden;
}*/
#header .menu-btn_burger::before{
    transform: translateY(-16px);
}
#header .menu-btn_burger::after{
    transform: translateY(16px);
}
/*ANIMATION*/
#header .menu-btn.open .menu-btn_burger{
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
#header .menu-btn.open .menu-btn_burger::before{
    transform: rotate(45deg) translate(35px, -35px);
}
#header .menu-btn.open .menu-btn_burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
}
/*END ANIMATION*/
/*End header section*/

#main .main{
    max-width: 280px;
    align-items: center;
    justify-content: center;
    margin-right: 80px;
    position: ;
    height: 8000vh;
    background-color: ;
    padding-right: ;
    
}
#main .main{
    height: 1000vh;
    margin-left: 400px;
    
}
#main li{
    margin-top: 5px;
    max-width: 280px;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
    font-size: 0.9rem;
    
}
#main h1{
    text-align: center;
    margin-top: 110px;
    text-decoration: underline;

}
#main h2{
    margin-left: 80px;
}
#main img{
    margin-left: 80px;
}
#main p{
    max-width: 280px;
    margin-left: 80px;
    font-size: 0.9rem;
}
#main h1{
    letter-spacing: .2rem;
}
#main h2{
    color: bisque;
    font-weight: 500;
    margin-bottom: 5px;
}
#main h3{
    margin-left: 80px;

}
#main ol{
    margin-left: 80px;
}
.footer{
    min-height: 10vh;
    width: 100%;
    background-color: black;
}
.footer h4{
    color: antiquewhite;
    font-weight: 500;
    margin-left: 70px;
    margin-bottom: 50px;
    margin-top: 20px;
    padding-top: 20px;
    font-size: 0.8rem;
}